*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.col-6 {
	padding: 20px 20px;
	width: 50%;
	float: left;
}

.upper {
	max-width: 750px;
	margin: 0 auto;
}

.filter {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 30px;
}

.icon-search {
	margin-right: 28px;
}

.option {
	text-align: center;
	margin: 5px;
	display: inline-block;
	width: 15%;
	letter-spacing: 2px;
	font-size: 15px;
	color: #444;
	cursor: pointer;
}

.selected {
	padding: 2px;
	background-color: #553c8b;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #eee;
}

.hide-result {
	display: none;
}

.show-result {
	display: block;
}

.filter-result {
	max-width: 750px;
	min-height: 400px;
	margin: 0 auto;
	padding: 0 70px;
}

.down {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 30px;
}

.cover {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}

img {
	display: block;
}

i {
	color: #211717;
}

h2.title {
	padding-left: 30px;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	color: gray;
}

h3 {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	color: black;
}

.info {
	font-weight: 300;
	font-size: 16px;
	line-height: 2;
	color: gray;
	text-decoration: none;
}

.about {
	margin-top: 93px;
}

.bio {
	margin-top: 40px;
	font-size: 15px;
}

.info label {
	text-transform: capitalize;
}

.info a {
	text-decoration: none;
    color: #d6b161;
}

.info .map {
	text-transform: uppercase;
}

.info .input {
	margin: 30px auto;
	text-align: center;
}

#logo {
	float: left;
}

.title-name {
	line-height: 3;
	float: left;
	font-weight: 300;
	text-transform: capitalize;
	color: gray;
}

.subtitle {
	line-height: 7.2;
	float: left;
	font-weight: 250;
	color: gray;
}

ul{
	margin: 0;
}

li{
	list-style-type: none;
}

.nav li {
	float: left;
}

.nav li a {
	padding: 10px;
	letter-spacing: 2px;
	font-size: 1em;
	text-transform: capitalize;
	text-decoration: none;
	color: #7189bf;
}

.nav li a.home {
	text-transform: uppercase;
}

.nav li.boundry:after {
	content: "|";
}

.nav {
	float: left;
	line-height: 3;
}

.social-media {
	float: right;
	margin-right: 3%;
}

.social-media li {
	float: left;
	padding: 10px;
	font-size: 1.5em;
}

.quote-index {
	margin: 50px 0;
	margin-left: 20px;
	border-left: 5px solid;
	border-color: gray;
}

.quote.blockquote.p {
	letter-spacing: 1.2px;
	font-weight: 300;
	text-transform: capitalize;
	color: #553c8b;
}

.quote-about q, .quote-about cite {
	letter-spacing: 2px;
	color: #333;
	font-size: 12px;
}

.quote-index q, .quote-index cite {
	letter-spacing: 2px;
	color: #333;
	font-size: 13px;
}

#latest-article {
	position: absolute;
	top: 50%;
	left: 80%;
	width: 27%;
	min-width: 160px;
	border: 1px solid;
	border-color: white;
	transform: translate(-50%, -50%);
	background-color: #7189bf;
}

#latest-article img {
	min-width: 160px;
}

#latest-article .text {
	padding: 0 5%;
}

#latest-article .latest-article {
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 3px;
	text-transform: capitalize;
	color: white;
}

#latest-article .title-article {
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

#latest-article .preview {
	font-weight: 300;
	font-size: 10px;
	color: white;
}

#latest-article .read-more {
	text-align: right;
	font-weight: 300;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.thumbnail {
	position: relative;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

.thumbnail .thumbnail-cover {
	border: 20px solid rgba(0,0,0,0.1);
	background: rgba(255,255,255, .9);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all 0.3s;
	text-align: center;
}

.thumbnail .thumbnail-cover a {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-decoration: none;
	font-size: 45px;
	color: #553c8b;
}

.thumbnail .thumbnail-cover:hover {
	opacity: 1;
}

#footer .title {
	margin: 10px auto;
	text-align: center;
	letter-spacing: 1px;
	color: #222;
}

#footer .title a {
	text-transform: capitalize;
	text-decoration: none;
	color: #d6b161;
}

#menu-trigger {
	display: none;
	float: right;
}

/* Timeline */
.intro *,
.intro *::before,
.intro *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  margin-top: 100px;
  background: #E5C79A;
  padding: 30px 0;
}

.container-timeline {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title-timeline {
  font-size: 1.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #eee;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #E5C79A;
  color: #444;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 15px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #E5C79A transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #E5C79A;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #E5C79A;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .intro {
	margin-top: 50px;
  }
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #E5C79A transparent transparent;
  }
}

@media (max-width: 768px){
	
	#menu-trigger {
		display: block;
		position: fixed;
		top: 160px;
		right: 20px;
		z-index: 10;
	}
	
	#menu-trigger .icon-cancel {
		display: none;
	}
	
	.social-media {
		float: none;
		margin: 0;
		padding: 0;
	}
	
	.social-media ul {
		margin: 0 auto;
	}
	
	.nav {
		display: none;
		position: fixed;
		float: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ccc;
		z-index: 10;
	}
	
	.nav ul {
		position: relative;
		top: 50%;
		padding: 0;
		text-align: center;
		transform: translate(0, -50%);
	}
	
	.nav li {
		display: block;
		float: none;
		line-height: 2;
		font-size: 2rem;
		border-bottom: 1px solid;
		border-color: #454d66;
	}
	
	.nav li.boundry:after {
		content: none;
	}
	
	#latest-article {
		position: relative;
		top: 100%;
		left: 50%;
		width: 70%;
		transform: translate(-50%, -4%);
	}
	
	.col-6 {
		float: none;
		width: 100%;
	}

	.about {
		margin-top: 0;
	}

	.bio {
		margin-bottom: 35px;
	}

	.icon-search {
		margin-right: 15px;
	}
	
	.option {
		margin: 4px;
		display: inline-block;
		width: 100%;
		letter-spacing: 2px;
		font-size: 16px;
		color: #444;
	}

	.selected {
		width: 100%;
		padding: 2px;
		background-color: #553c8b;
		border: 1px solid #ccc;
		border-radius: 5px;
		color: #eee;
	}
}

@media(max-width: 547px){
	
	#menu-trigger {
		top: 190px;
	}
	
	h1.title-name {
		position: relative;
		margin: 0;
		top: 42px;
		line-height: 1;
	}
	
	h3.subtitle {
		line-height: 7;
	}
}

@media(max-width: 355px){
	
	#menu-trigger {
		top: 160px;
	}
	
	h1.title-name {
		position: relative;
		margin: 0;
		top: 52px;
		line-height: 1;
		font-size: 24px;
	}
	
	h3.subtitle {
		position: relative;
		margin: 0;
		top: 76px;
		line-height: 1;
		font-size: 10px;
	}
}




















