.nav a.dashboard {
    color: #a35638;
    font-weight: 600;
}

.subtitle.dashboard {
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 20px;
    color: #393e46;
}

.dealers-dashboard, .sound-tunnel-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-tunnel-chart {
    margin-top: 100px;
}

canvas {
    pointer-events: none;
}

.select {
    margin: 30px;
    padding: 40px;
}

.subtitle {
    margin-bottom: 70px;
    color: #393e46;
}

label, select {
    text-align: left;
    margin: 15px 0;
    text-transform: capitalize;
    color: #393e46;
}

.dealers-dashboard a.export {
    display: block;
    margin-top:240px;
}

.sound-tunnel a.export {
    display: block;
    margin-top:90px;
}

/* for mobile phone */
@media(max-width: 1024px){
    .dealers-dashboard, .sound-tunnel-chart {
        max-width: 90vw;
        flex-direction: column;
        margin-top: 0;
    }
    .chart {
        width: 90%;
        margin-top: 70px;
    }
    .select {
        margin: 0;
        padding: 0;
    }
    h3.subtitle {
        margin: 30px 0;
    }
    .dealers-dashboard a.export {
        display: block;
        margin-top:40px;
    }
    
    .sound-tunnel a.export {
        display: block;
        margin: 40px 0;
    }
    .contact {
        margin-top: 30px;
    }
}