/* ordering-instructions */
.nav a.ordering {
    color: #a35638;
    font-weight: 600;
}

.subtitle.ordering {
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 20px;
    color: #393e46;
}

.subtitle {
    text-align: center;
}

.info {
    width: 45%;
    margin: 0 auto;
    text-align: left;
}

.info li {
    margin: 10px 0;
    list-style-type: circle;
}

.ordering-instructions {
    text-align: center;
}

.hr {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #594a4e;
}

.instructions {
    margin: 0 auto;
    transform: translate(2%,0);
    text-transform: capitalize;
}

.instructions div {
    float: left;
    width: 30%;
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.instructions img {
    width: 100%;
    filter: brightness(0.7);
    transition: all 0.5s;
    position: relative;
}

.instructions p {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    font-weight: 500;
}

.instructions img:hover {
    filter: brightness(1);
    transform: scale(1.2);
}

/* check list */
.canvas {
    margin-top: 200px;
    padding: 10px;
    transform: translate(2%,0);
}

.canvas .subtitle {
    text-align: center;
    margin-bottom: 10px;
}

.description-box {
    margin: 50px 70px 30px;
}

.description-box td {
    padding: 10px 0;
    color: #594a4e;
    border-bottom: 1px solid #fff;
    font-size: 14px;
}

button.submit {
    margin-left: 50%;
    transform: translate(-57%,0);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 30px;
    font-size: 18px;
    color: #393e46;
    background-color: #fff;
}

/* for mobile phone */
@media(max-width: 1024px){
    h2.subtitle {
        margin-top: 50px;
    }
    .info {
        width: 90%;
    }
    .info li {
        margin: 5px 0;
    }
    .instructions {
        margin-top: 10px;
        max-width: 90vw;
        transform: translate(0,0);
    }
    .instructions div {
        font: none;
        width: 100%;
        margin: 4px;
    }
    .canvas {
        margin-top: 100px;
        transform: translate(0,0);
        margin-bottom: 120px;
    }
    .preview {
        width: 100%;
    }
    .preview img {
        max-width: 100%;
    }
    .check-list {
        margin-top: 30px;
    }
    .description-box {
        margin: 30px 10px;
    }
    .contact {
        margin-top: 60px;
    }
}