
.icon-refresh:before { content: '\e803'; } /* '' */
.icon-user-delete:before { content: '\e804'; } /* '' */
.icon-renew:before { content: '\e832'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */