
.icon-location:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-feather:before { content: '\e807'; } /* '' */
.icon-github-stamp:before { content: '\f056'; } /* '' */
.icon-official:before { content: '\f06d'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f31b'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */