<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/fontello.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
    <title>Vue.js 傳統日曆</title>
</head>
<body>
    <div id="app">
        <div class="banner">{{banner}}</div>
        <div class="calendar" v-for="page in pages">
            <div class="up">
                <div class="left">
                    <div class="year">{{yearToday}}年<br>
                        <small>歲次
                            <br>
                        </small>
                        <span class="year-index">{{yearIndexToday}}</span>
                    </div>
                    <div v-if="dateTraditionalToday=='初一'||dateTraditionalToday=='十五'" class="solar-terms">{{solarTermsToday}}</div>
                    <div v-else="dateTraditionalToday!='初一'||dateTraditionalToday!='十五'" class="date-traditional">{{dateTraditionalToday}}</div>
                    <div class="weather">
                        <span>雲{{this.randomWeatherText}}</span>
                        <img src="./images/cloud.png" alt="weather-image">
                    </div>
                </div>
                <div class="date">{{dateOnToday}}</div>
                <div class="right">
                    <div class="month">{{monthToday}}月<br><span class="eng">{{monthEnglishToday}}</span></div>
                    <div class="luck">
                        <div class="good"><span>宜</span>&nbsp;寫扣</div>
                        <div class="bad"><span>忌</span>&nbsp;喬遷</div>
                    </div>
                </div>
            </div>
            <div class="weekday">星期{{weekdayToday}}</div>
            <div class="down">
                <div class="memo">備忘錄：</div>
                <div class="quote">以銅為鏡，可以正衣冠。以古為鏡，可以知興替。以人為鏡，可以明得失。</div>
            </div>
        </div>
        <div class="controls">
            <a href="#" v-on:click="prev" class="prev"><i class="icon-left"></i></a>
            <a href="#" v-on:click="next" class="next"><i class="icon-right"></i></a>
            <!-- <br><input type="range" min="1" max="100" v-model.number="pages"> -->
            <br>
            <div class="someday">會不會有一天，時間真的能倒退，退回你的我的回不去的悠悠的歲月。<input type="text" class="backTime" placeholder="例：2012-06-01"><a href="#" class="go"><i class="icon-calendar"></i></a></div>
            <br>
            <div class="wishes">沒關係，就算去年失敗了，2020還是要許一個新年新希望！
                <br>
                <input type="text" class="wishInput"><a href="#" class="confirm"><i class="icon-evernote"></i></a>
            </div>
        </div>
    </div>
</body>
</html>