<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
    <title>一蘭拉麵</title>
</head>
<body>
    <h1 class="title">天然とんこつラーメン専門店 一蘭</h1>
    <h2 class="subtitle">體驗 Vue.js Event Bus 的妙用，無限加麵好不快樂！</h2>
    <div id="app" class="ramen-container">
        <div class="menu-container" v-if="ordered == false">
            <table class="menu">
                <tr>
                    <td colspan="4" class="menu-title">點餐用紙<small><label for="ordered" class="ordered"><input type="checkbox" id="ordered">完了</label></small></td>
                </tr>
                <tr>
                    <td colspan="3">蔥<br><small>ねぎ</small></td>
                    <td class="negi-row">
                        <label for="no"><input type="radio" id="no" name="negi" value="0">無</label>
                        <label for="normal"><input type="radio" id="normal" name="negi" value="60">普通</label>
                        <label for="lotsof"><input type="radio" id="lotsof" name="negi" value="100">多</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">叉燒<br><small>チャーシュー</small></td>
                    <td class="meat-row">
                        <label for="nashi"><input type="radio" id="nashi" name="meat" value="0">無</label>
                        <label for="ari"><input type="radio" id="ari" name="meat" value="2">有</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">赤紅醬汁<br><small>赤い秘伝のたれ</small></td>
                    <td class="kara-row">
                        <label for="half"><input type="radio" id="half" name="kara" value="35">1/2</label>
                        <label for="one"><input type="radio" id="one" name="kara" value="70">1</label>
                        <label for="two"><input type="radio" id="two" name="kara" value="90">2</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="kaedama-container" v-show="ordered">
            <kaedama></kaedama>
            <br>
            <code>
                //event bus<br>
                var bus = new Vue();<br>
                <br>
                Vue.component('kaedama', {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;template: '<!--<div class="kaedama" @click="reset">替玉</div>-->',<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;methods: {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reset: function(){<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if($('.ingradients').hasClass('eaten-up')){<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bus.$emit('reset');<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.ingradients').removeClass('eaten-up');<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;}<br>
                });<br>
                <br>
                var vm = new Vue({<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;el: '#app',<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;data: {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;negis: 100,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meats: 2,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kara: 70,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ordered: false<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;},<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;methods: {<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reset(){<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.negis = 0;<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.meats = 0;<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.kara = 0;<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;},<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;created: function(){<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bus.$on('reset', this.reset);<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;},<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;beforeDestroy: function(){<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bus.$off('reset', this.reset);<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;}<br>
                });<br>
            </code>
        </div>
        <div class="bowl">
            <div class="mark">一蘭</div>
            <div class="sokoji">この一滴が<br>最高の<br>喜びです</div>
            <div class="ingradients">
                <div class="soup-vice"></div>
                <div class="soup-abura"></div>
                <div class="soup">
                <div class="noodle">
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                </div>
                <div class="middle">
                    <div class="negi-container">
                        <div class="negi" v-for="negi in negis"></div>
                    </div>
                    <div class="kara" :style="{width: kara + 'px', height: kara + 'px'}"></div>
                    <div class="meat-container">
                        <div class="meat" v-for="meat in meats">
                            <div class="meat-texture"></div>
                            <div class="meat-texture"></div>
                            <div class="meat-texture"></div>
                            <div class="meat-texture"></div>
                            <div class="meat-texture"></div>
                        </div>
                    </div>
                </div>
                <div class="noodle">
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                    <div class="noodle-texture"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="hashi-container">
            <div class="hashi-wrapper">
                <div class="rest"></div>
                <div class="hashi"></div>
                <div class="hashi"></div>
            </div>
        </div>
    </div>
</body>
</html>