
.icon-thumbs-up-1:before { content: '\e800'; } /* '' */
.icon-backspace:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e807'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */