
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-youtube-logo:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-facebook:before { content: '\f301'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */