html, body {
	/*height: 100%;*/
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container {
	margin: 0 auto;
	padding: 30px;
	max-width: 700px;
	text-align: center;
	width: 100%;
	height: 100%;
}

h1.title {
	margin: 10px;
	font-weight: 300;
	font-size: 1.7em;
	letter-spacing: 2px;
	color: #7ed3b2;
	text-align: center;
	text-transform: capitalize;
}

h3.subtitle {
	margin: 0;
	padding: 10px;
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 2px;
	color: #7ed3b2;
	text-align: center;
	text-transform: capitalize;
	border-bottom: 1px solid gray;
}

.content {
	height: 35em;
	width: 100%;
}

.content p {
	text-align: left;
	font-weight: 300;
	font-size: .9em;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	color: gray;
	position: static;
}

.input {
	text-align: center;
}

a {
	color: #7ed3b2;
}

@media(max-width: 375px) {
	
	h1.title{
		font-size: 1.2em;
	}
	
	.container {
		padding: 10px;
		max-width: 320px;
	}
	
	h3.subtitle {
		font-size: .7em;
	}
	
	.content {
		height: 420px;
		width: 100%;
	}
	
}














