
.icon-fire:before { content: '\e800'; } /* '' */
.icon-barcode:before { content: '\e801'; } /* '' */
.icon-droplet:before { content: '\e802'; } /* '' */
.icon-warning:before { content: '\e803'; } /* '' */