<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image:width" content="1200">
    <meta property="og:image" content="https://i.imgur.com/MR8jT5V.jpg">
    <meta property="og:description" content="Every artist was first an amateur. 👨‍💻">
    <link rel="icon" href="./image/ckh-logo-transparent.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/fontello.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Chang-Ko, Hsu</title>
</head>
<body>
    <div class="container" id="app" :class="{'normal-borderColor': darkMode == 'off'}">
        <div class="header">
            <div class="previous-page-arrow"><i class="icon-left"></i></div>
            <div class="name" :class="{'normal-font-color': darkMode == 'off'}">徐暢可(Chang-Ko, Hsu)<i class="icon-official" :class="{'normal-official-color': darkMode == 'off'}"></i></div>
        </div>
        <div class="modal hide-modal">
            <i class="icon-cancel"></i>
            <div class="modal-content"></div>
        </div>
        <div class="cover-photo-wrapper">
            <minesweeper></minesweeper>
        </div>
        <div class="info-area">
            <img src="./image/profile-photo.jpg" alt="profile-photo" class="profile-photo" :class="{'normal-profile-photo-color': darkMode == 'off'}">
            <div class="social-media clearfix">
                <a href="https://github.com/ivan19940106" class="github" target="_blank"><i class="icon-github"></i></a>
                <a href="https://codepen.io/ivan19940106" class="codepen" target="_blank"><i class="icon-codepen"></i></a>
                <a href="https://www.linkedin.com/in/%E6%9A%A2%E5%8F%AF-%E5%BE%90-393b19b3/" class="linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                <follow @add-bookmark="follower++"></follow>
            </div>
            <div class="name-area">
                <h1 class="name" :class="{'normal-font-color': darkMode == 'off'}">徐暢可(Chang-Ko, Hsu)<i class="icon-official" :class="{'normal-official-color': darkMode == 'off'}"></i></h1>
                <h3 class="account" :class="{'normal-light-color': darkMode == 'off'}">@ivan19940106</h3>
            </div>
            <div class="description" :class="{'normal-font-color': darkMode == 'off'}">
                因為大塚愛的一首歌 - 「プラネタリウム」，自高二起開始自學日文，大四時通過 JLPT N1。總是覺得音樂和文字有著不可思議的力量。 最喜歡的吉他手是 Sungha Jung、最喜歡的編劇是野木亞紀子、大學上過最喜歡的課是「人類文明起源史」和「日本近代歷史人物」。 2020的新年新希望是期望有朝一日可以藉由寫 code 做出對社會有貢獻的事。<br>
                Every artist was first an amateur. 👨‍💻
            </div>
            <div class="addition">
                <a href="https://en.wikipedia.org/wiki/Taipei" class="location" target="_blank" :class="{'normal-light-color': darkMode == 'off'}"><i class="icon-location" :class="{'normal-font-color': darkMode == 'off'}"></i>Taipei, Taiwan</a>
                <a href="mailto:tanoshii06@gmail.com" class="email" :class="{'normal-light-color': darkMode == 'off'}"><i class="icon-mail" :class="{'normal-font-color': darkMode == 'off'}"></i>&nbsp;tanoshii06@gmail.com</a>
                <br>
                <a href="https://medium.com/@Ivan19940106" class="link" target="_blank"><i class="icon-link" :class="{'normal-font-color': darkMode == 'off'}"></i>medium.com/@Ivan19940106</a>
                <a href="https://www.vghtpe.gov.tw/Index.action" class="calendar" target="_blank" :class="{'normal-light-color': darkMode == 'off'}"><i class="icon-calendar" :class="{'normal-font-color': darkMode == 'off'}"></i>出生於 1994/01/06</a>
                <div class="custom-control custom-switch dark-mode-switch">
                    <input type="checkbox" class="custom-control-input" id="dark-mode" checked @click="changeDarkMode">
                    <label class="custom-control-label dark-mode-label" for="dark-mode" :class="{'normal-font-color': darkMode == 'off'}">護眼模式</label>
                </div>
            </div>
            <div class="following-area">
                <a href="" class="following" :class="{'normal-light-color': darkMode == 'off'}">{{following}} 位追縱中</a>
                <a href="" class="follower" :class="{'normal-light-color': darkMode == 'off'}">{{follower}} 位追蹤者</a>
            </div>
        </div>
        <div class="tabs">
            <div class="work" @click="nowTab='work'" :class="{'normal-font-color': darkMode == 'off', 'active-tab-font-color': nowTab == 'work'}">作品</div>
            <div class="about" @click="nowTab='about'" :class="{'normal-font-color': darkMode == 'off', 'active-tab-font-color': nowTab == 'about'}">關於我</div>
            <div class="blog" @click="nowTab='blog'" :class="{'normal-font-color': darkMode == 'off', 'active-tab-font-color': nowTab == 'blog'}">部落格</div>
            <div class="feature" @click="nowTab='feature'" :class="{'normal-font-color': darkMode == 'off', 'active-tab-font-color': nowTab == 'feature'}">推薦的內容</div>
        </div>
        <hr :class="{'normal-borderColor': darkMode == 'off'}">
        <div class="content">
            <div class="work-container" v-if="nowTab == 'work'">
                <div class="work-wrapper" v-for="work in workData">
                    <img src="./image/profile-photo.jpg" alt="post-profile-photo" class="post-profile-photo">
                    <div class="work-info">
                        <div class="name" :class="{'normal-font-color': darkMode == 'off'}">徐暢可(Chang-Ko, Hsu)</div>
                        <div class="account" :class="{'normal-light-color': darkMode == 'off'}">@ivan19940106</div>
                        <br>
                        <span class="work-title" :class="{'normal-font-color': darkMode == 'off'}">{{work.title}}</span>
                    </div>
                    <div class="work-description" :class="{'normal-font-color': darkMode == 'off'}">
                        {{work.desc}}
                    </div>
                    <a :href="work.url" target="_blank"><img :src="work.imgPath" alt="" class="work-cover"></a>
                    <div class="social-panel">
                        <a href="" class="comment" :class="{'normal-font-color': darkMode == 'off'}"><i class="icon-comment" :class="{'normal-font-color': darkMode == 'off'}"></i>2</a>
                        <a href="" class="recycle" :class="{'normal-font-color': darkMode == 'off'}"><i class="icon-recycle" :class="{'normal-font-color': darkMode == 'off'}"></i>2</a>
                        <a href="" class="heart" :class="{'normal-font-color': darkMode == 'off'}"><i class="icon-heart" :class="{'normal-font-color': darkMode == 'off'}"></i>2</a>
                        <a href="" class="share" :class="{'normal-font-color': darkMode == 'off'}"><i class="icon-share" :class="{'normal-font-color': darkMode == 'off'}"></i></a>
                    </div>
                    <hr :class="{'normal-borderColor': darkMode == 'off'}">
                </div>
            </div>
            <div class="about-container" v-if="nowTab == 'about'">
                <section class="intro">
                    <div class="container-timeline">
                        <h1 class="title-timeline">Timeline About Me! &darr;</h1>
                    </div>
                </section>
                <section class="timeline">
                    <ul>
                        <li>
                        <div>
                            <time>1994/01</time>生於台北市。
                        </div>
                        </li>
                        <li>
                        <div>
                            <time>2016/09</time>赴德國阿沙芬堡科技大學 Aschaffenburg Hochschule 交換學生一個學期。搭乘歐洲統聯Flixbus窮遊10個國家。
                        </div>
                        </li>
                        <li>
                        <div>
                            <time>2017/03</time>從國立臺灣科技大學工業管理系畢業。
                        </div>
                        </li>
                        <li>
                        <div>
                            <time>2017/10</time>開始在鴻海精密工業股份有限公司擔任生產管理專員(Production Planner)。負責手機面板從原材料供給、製造、測試到成品出貨，供應鏈上所有環節之控管，以確保產品在交期內出貨。
                        </div>
                        /li>
                        <li>
                        <div>
                            <time>2019/07</time>因感生命短暫如流星畫過天際，從鴻海離職回台灣生活，準備轉職。
                        </div>
                        </li>
                        <li>
                        <div>
                            <time>2019/08</time>學習製作人生第一把手工吉他。
                        </div>
                        </li>
                        <li>
                        <div>
                            <time>2019/10</time>資策會的夏天。
                        </div>
                        </li>
                        <li>
                        <div>
                            <time>2020/04</time>資策會結訓。在訓期間學到了：<br>
                            <br>1.對網路的運作有基礎的了解，擅長使用 SASS 等 CSS 預處理語言，規劃製作 RWD 網頁版型並使用 Gulp.js 優化工作流程。<br>
                            <br>2.打下 JavaScript 基礎，能善用 jQuery Plugin 整合第三方插件動畫效果。<br>
                            <br>3.會使用 Ajax/JSON 設計 SPA 架構。<br>
                            <br>4.會使用前端框架 Vue.js 的資料雙向綁定、設計 Component 組件和 Vue-cli。<br>
                            <br>5.Git觀念清晰，團體專題網站使用 GitHub 整合。
                        </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="blog-container" v-if="nowTab == 'blog'">
                <div class="under-constructure-margin">
                    <a href="https://changko.weebly.com/blog/category/all" target="_blank" style="color: #8899A6;">「嘿，凌晨三點還醒著的人。」</a>
                </div>
            </div>
            <div class="feature-container" v-if="nowTab == 'feature'">
                <div class="under-constructure-margin" :class="{'normal-font-color': darkMode == 'off'}">Here's still under constructure!</div>
            </div>
        </div>
        <div class="feather"><a href="https://drive.google.com/file/d/1XvmvwNHS0O9YC8-lHrebhMVmRUPidg76/view?usp=sharing" class="rezume" target="_blank"><img src="./image/ckh-logo-transparent.png" alt="feather" class="add"></a></div>
        <hr :class="{'normal-borderColor': darkMode == 'off'}">
        <footer>
            <div class="copyright" :class="{'normal-font-color': darkMode == 'off'}">© <a href="http://ivan19940106.github.io/Kyoto-little-trip/about.html" class="chang-ko" target="_blank" :class="{'normal-light-color': darkMode == 'off'}">Chang Ko Hsu</a> 2020 | All Rights Reserved</div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.8.5/css-doodle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="./js/t.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>