* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
html, body {
    background-color: #ADB993;
    width: 100%;
    height: 100%;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.territory {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto; */
    width: 30%;
}
path {
    stroke: #5A716A;
    fill: transparent;
    transition: all 0.5s;
}
path:hover {
    fill: #eee;
    transform: translate(-2px,-2px);
}
.info {
    font-family: 'Montserrat', sans-serif;
    color: #5A716A;
}
.title {
    text-transform: capitalize;
}
hr {
    margin: 20px;
    border: none;
    border-bottom: solid 2px #5A716A;
}
h2 span {
    text-transform: capitalize;
    color: #eee;
}
@media(max-width: 768px){
    html, body {
        flex-direction: column;
    }
    .territory {
        width: 90%;
        order: 1;
    }
    .info {
        margin-bottom: 30px;
        width: 70%;
        font-size: 15px;
    }
}